name: Deploy Automático

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Executar deploy no servidor
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/admin/Gerenciador-de-poltronas-Fibbo
            git pull origin main
            echo "Reconstruindo imagens..."
            sudo docker compose build --no-cache || sudo docker-compose build --no-cache
            sudo docker compose up -d --force-recreate || sudo docker-compose up -d --force-recreate
            echo "Deploy concluído com sucesso!"
